<nav class="navbar navbar-dark bg navbar-full navbar-fixed-top" id="nav-main">
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#startupNavbar">
      &#9776;
    </button>
    <div class="collapse navbar-toggleable-xs" id="startupNavbar">
      <a class="navbar-brand" href="#">CODEAWAY</a>
      <ul class="nav navbar-nav pull-sm-right">
        <li class="nav-item">
          <a class="nav-link" href="#stage">Home<span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#slika">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#stage-two">Quote</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#end">About &amp; Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="new">New</a>
        </li>
      </ul>
    </div>
  </nav>
<h1>new</h1>