@import "bootstrap";



html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #6c6f73;
  font-family:Open Sans;
}

*{font-family:Open Sans};


h1,h2,h3,h4,h5 {
  color: #333;
}

.bg {
  background: rgba(0,0,0,0.8);
  font-family: 'Open Sans';
}

hr {
  max-width: 50px;
  border-color: #428bca;
  border-width: 2px;
}

.navbar-nav {
  font-size: 14px;
  font-weight: 100;
  text-transform: uppercase;
  font-family:Open-Sans;
}

#stage {
  background: asset-url('cover1.jpg') center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  border: none;
}

#stage-caption {
  font-size: 1.4rem;
  font-weight: 200;
  max-width: 80rem;
  margin: 0 auto;
  text-align: center;
}

#stage-caption h1{
  font-family:Lato;
  color: #e0e0e0;
  letter-spacing: 8px;
  text-transform: uppercase;
}

#stage-caption p{
  color: #aeaeae;
  text-transform: uppercase
}

.feature-content {
  background: #fefefe;
  padding: 60px;
}

.card {
  background: #fefefe;
}

#slika .slika {
  background-image: asset-url('desno1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 650px;
  display: flex;
  border: none;
}

.tekst {
  padding-top: 120px;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

#stage-two{
  background: asset-url('vtor-cover.jpg') center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  border: none;
}

#stage-caption-two {
  background: rgba(0,0,0,0.5);
  font-size: 1.4rem;
  font-weight: 200;
  max-width: 60rem;
  margin: 0 auto;
  text-align: center;
}

.carousel {
  width: 100%;
  height: 400px;
  align-items: center;
}

.carousel-item {
  padding: 100px;
  align-items: center;
  text-align: center;
}

#items {
  padding: 10px;
  background: rgba(0,0,0,0.5);
}

.carousel-item h3 {
  color: #f0f0f0;
}

.feature-end {
  padding: 80px;
  background: rgba(0,0,0,0.95); 
}

.feature-content-end  {
  text-align: center;
  align-items: center;
}

.boja  {
  color: #428bca;
}

.feature-content-end h2 {
  color: #cdccdc;
}

.feature-content-end p {
  color: #cdcdcd;
}

.btn {
  border-radius: 20px;
}

.quote {
  text-align: center;
  color: #cdcdcd;
}

.quote h4 {
  color: #cfcfcf;
}

.feature-footer {
  padding-bottom: 20px;
  background: rgba(0,0,0,0.95);
}

.skill {
  padding-top: 20px;
  text-align: center;
}

.skill h5 {
  color: #cfcfcf;
  text-transform: uppercase;
}

.skill p {
  color: #bfbfbf;
  font-weight: 100;
}

.dev {
  text-align: center;
}

#articles {
  padding-top: 70px;
  height: 100%;
  background: asset-url('articles_back.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#articles h3 {
  color: #f0f0f0;
}

.list-group-item {
  background: rgba(0,0,0,0.7);
  border-radius: 20px;
  border-color: rgba(0,0,0,0.7);
  margin-bottom: 10px;
}